
body {
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: #A4BC92;
    color: white;
    text-align: center;
    border-radius: 25px;
}

.welcome {
    color: black;
    font-weight: lighter;
    text-align: center;
}

.content {
    letter-spacing: 4px;
    color: white;
    font-weight: bolder;
    margin-top: 30px;
    background-color: #B3C99C;
    text-align: center;
    border-radius: 10px;
    padding: 20px 20px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

img.tengah {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:250px;
}

.input-section {
    display: flex;
    flex-direction: column;
}

.hitung {
    color: #40513b;
    font-size: 20px;
}

label {
    display: block;
    margin-bottom: 6px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #40513b;
}

input {
    padding: 10px;
    border: 2px solid #DDFFBB;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}

input:focus {
    border-color: #C7E9B0;
}

button {
    padding: 10px 20px;
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #99a98f;
}

button:hover {
    background-color: #c1d0b5;
}

button:active {
    transform: translateY(1px);
    background-color: #B3C99C;
}

footer {
    text-align: center;
    margin-top: 25px;
}

img.gifluas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.HasilSegitiga {
    width: 200px;
    height: 26px;
    background-color: #B3C99C;
    text-align: center;
    border-radius: 5px;
    color: #40513b;
}

#HasilLuas {
    width: 300px;
    height: 35px;
    background-color: #DDFFBB;
    margin-top: 10px;
    padding-top: 14px 28px;
    font-size: 20px;
    text-align: center;
    border: 2px solid #C7E9B0;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

#HasilKeliling {
    width: 300px;
    height: 35px;
    background-color: #DDFFBB;
    margin-top: 10px;
    padding-top: 14px 28px;
    font-size: 20px;
    text-align: center;
    border: 2px solid #C7E9B0;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}